<article class="post">
    <header>
        <h2 class="post_title">
            <!-- Lorem5 - Cinco palavras -->
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post_body">
        <!-- Lorem50 - 50 palavras -->
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, amet molestiae laudantium expedita omnis sint possimus porro totam maxime hic optio, similique commodi? Ad, esse, numquam inventore atque soluta similique animi dicta illum doloremque, rerum odio officia consequatur cum repellendus repellat accusantium dolore. Sapiente dicta, consectetur cumque provident voluptatibus perspiciatis?
    </div>
</article>